@model IEnumerable<CastAjansCore.Entity.Il>

@{
    ViewData["Title"] = "İller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" asp-action="Edit"><i class="icon-plus3"></i></a>
            </div>
        </div>
    </div>
    @*<div class="card-body">

        </div>*@
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Adi)
                    </th>
                    <th>
                        İlçeler
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adi)
                        </td>
                        <td>
                            <a asp-controller="Ilceler" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="icon-pencil"></i></a>
                        </td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="icon-pencil"></i></a>
                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"><i class="icon-trash"></i></a>*@

                            <button type="button" id=@("btnSil-"+item.Id) data-refid=@item.Id class="btn btn-sm btn-outline-danger silModal"><i class="icon-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
    
</div>
<!-- /basic table -->
