@model CastAjansCore.Entity.Kisi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KanGrubu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KanGrubu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPosta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSitesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSitesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaceBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaceBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkedin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uyruk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uyruk.Adi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
