@model CastAjansCore.WebUI.Model.MusteriEditDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function GetIlceler() {
        var IlId = $("#Musteri_Ilce_IlId").val();
        $.getJSON("/Ilceler/GetJson", { id: IlId },
            function (data) {
                var select = $("#Musteri_IlceId");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Seçiniz"
                }));
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.id,
                        text: itemData.adi
                    }));
                });
            });
    }

</script>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">
                        <i class="icon-newspaper mr-2"></i> Bilgiler
                    </h5>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Musteri.Id" />
                    <input type="hidden" asp-for="@Model.Musteri.EkleyenId" />
                    <input type="hidden" asp-for="@Model.Musteri.EklemeZamani" />
                    <input type="hidden" asp-for="@Model.Musteri.GuncelleyenId" />
                    <input type="hidden" asp-for="@Model.Musteri.GuncellemeZamani" />
                    <input type="hidden" asp-for="@Model.Musteri.Aktif" />

                    <fieldset>


                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.Adi" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.Adi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="@Model.Musteri.Adi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.Telefon" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.Telefon" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="@Model.Musteri.Telefon" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.Faks" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.Faks" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="@Model.Musteri.Faks" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.EPosta" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.EPosta" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="@Model.Musteri.EPosta" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">
                        <i class="icon-home2 mr-2"></i> Adres
                    </h5>
                </div>



                <div class="card-body">
                    <fieldset>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.Ilce.IlId" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.Ilce.IlId" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="@Model.Musteri.Ilce.IlId" asp-items="@Model.Iller" onchange="GetIlceler()" class="form-control">
                                    Seçiniz
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.IlceId" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.IlceId" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="@Model.Musteri.IlceId" asp-items="@Model.Ilceler" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="@Model.Musteri.Adres" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="@Model.Musteri.Adres" class="text-danger"></span>
                            <div class="col-lg-9">
                                <textarea asp-for="@Model.Musteri.Adres" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a asp-action="Index" class="btn btn-danger left">Geri <i class="icon-cross3"></i></a>
            <button type="submit" class="btn btn-primary right">Kaydet <i class="icon-checkmark ml-2"></i></button>
        </div>
    </div>
</form>
