@model IEnumerable<CastAjansCore.Dto.OyuncuListDto>

@{
    ViewData["Title"] = "Oyuncular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" asp-action="ExcelImport"><i class="icon-file-excel"></i></a>
                <a class="list-icons-item" asp-action="Edit"><i class="icon-plus3"></i></a>
            </div>
        </div>
    </div>
    @*<div class="card-body">

        </div>*@
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfilUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Adi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Soyadi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DogumTarihi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Yas)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ProfilUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyadi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DogumTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Yas)
                    </td>
                    <td class="text-right">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="icon-pencil"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"><i class="icon-trash-alt"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /basic table -->
