@model CastAjansCore.Dto.ProjeDetailDto
@using Calbay.Core.Helper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detail</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Limitless_2_2/js/main/jquery.min.js"></script>
    <script src="/Limitless_2_2/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/loaders/blockui.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Limitless_2_2/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/Limitless_2_2/js/app.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/login.js"></script>
    <!-- /theme JS files -->
</head>
<body>

    <div class="container" style="width: 800px;">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr />
                <img src="/Resimler/logo_small.png">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title"><i class="mi-content-paste mr-2"></i> İletişim Bilgileri</h5>
                        <div class="right"><a asp-action="zip" asp-route-Id="@Model.GuidId" class="btn btn-secondary">Dosyaları İndir</a></div>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group row">
                                <label asp-for="IlgiliKisi" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliKisi" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliEPosta" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliEPosta" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliCep" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliCep" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliTelefon" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliTelefon" readonly class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title"><i class="mi-content-paste mr-2"></i> İş Tanımı</h5>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group row">
                                <label asp-for="ProjeAdi" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="ProjeAdi" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Proje Tarihi</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <input asp-for="ProjeTarihBas.Date" readonly class="form-control" />
                                        </div>
                                        @if (Model.ProjeTarihBas == Model.ProjeTarihBit)
                                        {
                                            <div class="col">
                                                <input asp-for="ProjeTarihBit" readonly class="form-control" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var karakter in Model.ProjeKarakterleri)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header bg-white header-elements-inline">
                            <h6 class="card-title">@karakter.Adi</h6>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                </div>
                            </div>
                        </div>
                        <ul class="media-list">
                            @foreach (var oyuncu in karakter.Oyuncular)
                            {

                                <li class="media card-body flex-column flex-sm-row">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-img-actions m-1">
                                                        <img class="card-img img-fluid" src="@oyuncu.ProfilUrl" alt="">
                                                        <div class="card-img-actions-overlay card-img">
                                                            <a href="@oyuncu.ProfilUrl" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                                                <i class="icon-plus3"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class="media-title font-weight-semibold">
                                            <a href="#">@oyuncu.Adi @oyuncu.Soyadi</a>
                                        </h6>
                                        <div class="row">
                                            <div class="col">
                                                <table>
                                                    <tr>
                                                        <th>Yaşı</th>
                                                        <td>: @oyuncu.Yas</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Boy</th>
                                                        <td>: @oyuncu.Boy Cm</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kilo</th>
                                                        <td>: @oyuncu.Kilo Kg</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">

                                            @foreach (string resim in oyuncu.OyuncuResimleri)
                                            {
                                                <div class="col-sm-6 col-lg-3">
                                                    <div class="card">
                                                        <div class="card-img-actions m-1">
                                                            <img class="card-img img-fluid" src="@resim" alt="">
                                                            <div class="card-img-actions-overlay card-img">
                                                                <a href="@resim" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                                                    <i class="icon-plus3"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <div>
                                            <hr />
                                            <div class="row">
                                                <table>
                                                    <tr>
                                                        <th>Göz Rengi</th>
                                                        <td>: @oyuncu.GozRengi.ToDisplay()</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Saç Rengi</th>
                                                        <td>: @oyuncu.SacRengi.ToDisplay()</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Ten Rengi</th>
                                                        <td>: @oyuncu.TenRengi.ToDisplay()</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Üst Beden</th>
                                                        <td>: @oyuncu.UstBeden</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Alt Beden</th>
                                                        <td>: @oyuncu.AltBeden</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Yabancı Dil</th>
                                                        <td>: @oyuncu.YabanciDil</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="vertical-align:top">Yetenekleri</th>
                                                        <td>:@oyuncu.Yetenekleri</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Tecrübeler</th>
                                                        <td>: @oyuncu.Tecrubeler</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>
