@model CastAjansCore.Dto.ProjeDetailDto
@inject CastAjansCore.WebUI.Helper.LoginHelper LoginHelper
@using Calbay.Core.Helper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Detail</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/Limitless_2_2/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="/Limitless_2_2/js/main/jquery.min.js"></script>
    <script src="/Limitless_2_2/js/main/bootstrap.bundle.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/loaders/blockui.min.js"></script>
    <script src="/Limitless_2_2/js/plugins/ui/ripple.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/Limitless_2_2/js/plugins/media/fancybox.min.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/gallery.js"></script>
    <script src="/Limitless_2_2/js/plugins/sliders/nouislider.min.js"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <script src="/Limitless_2_2/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="/Limitless_2_2/js/app.js"></script>
    <script src="/Limitless_2_2/js/demo_pages/login.js"></script>
    <!-- /theme JS files -->
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hr />
                <img src="/Resimler/logo_small.png">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title"><i class="mi-content-paste mr-2"></i> İletişim Bilgileri</h5>
                        @if (LoginHelper.UserHelper != null)
                        {
                            <div class="right"><a asp-action="MailGonder" asp-route-Id="@Model.GuidId" class="btn btn-outline-primary">Mail Gonder</a></div>
                        }
                        <div class="right"><a asp-action="zip" asp-route-Id="@Model.GuidId" class="btn btn-secondary">Dosyaları İndir</a></div>


                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group row">
                                <label asp-for="IlgiliKisi" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliKisi" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliEPosta" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliEPosta" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliCep" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliCep" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="IlgiliTelefon" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="IlgiliTelefon" readonly class="form-control" />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title"><i class="mi-content-paste mr-2"></i> İş Tanımı</h5>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group row">
                                <label asp-for="ProjeAdi" class="col-md-3 col-form-label"></label>
                                <div class="col-md-9">
                                    <input asp-for="ProjeAdi" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">Proje Tarihi</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col">
                                            <input asp-for="ProjeTarihBas.Date" readonly class="form-control" />
                                        </div>
                                        @if (Model.ProjeTarihBas == Model.ProjeTarihBit)
                                        {
                                            <div class="col">
                                                <input asp-for="ProjeTarihBit" readonly class="form-control" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var karakter in Model.ProjeKarakterleri)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header bg-white header-elements-inline">
                            <h4 class="card-title">@karakter.Adi</h4>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" data-action="collapse"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            @foreach (var oyuncu in karakter.Oyuncular)
                            {
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-img-actions m-1">
                                                        <img class="card-img img-fluid" src="@oyuncu.ProfilUrl" alt="">
                                                        <div class="card-img-actions-overlay card-img">
                                                            <a href="@oyuncu.ProfilUrl" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                                                <i class="icon-plus3"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <h6 class="media-title font-weight-semibold">
                                            <a href="#">@oyuncu.Adi @oyuncu.Soyadi</a>
                                        </h6>

                                        <button class="btn btn-@(oyuncu.KarakterDurumu == CastAjansCore.Entity.EnuKarakterDurumu.TeklifAtildi ? "primary" : "danger") form-control" id="@($"btn_{karakter.Id}_{@oyuncu.Id}")" onclick="OyuncuSec('@Model.GuidId',@karakter.Id,@oyuncu.Id)">@(oyuncu.KarakterDurumu == CastAjansCore.Entity.EnuKarakterDurumu.TeklifAtildi ? "Seç" : "Çıkar")</button>

                                        <div class="row">
                                            <div class="col">
                                                <fieldset>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.Yas" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.Yas" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.Boy" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@($"{oyuncu.Boy} cm")" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.Kilo" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@($"{oyuncu.Kilo} kg")" readonly class="form-control" />
                                                        </div>
                                                    </div>

                                                </fieldset>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-8">
                                        <div class="row">
                                            @foreach (string resim in oyuncu.OyuncuResimleri)
                                            {
                                                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                                                    <div class="card">
                                                        <div class="card-img-actions m-1">
                                                            <img class="card-img img-fluid" src="@resim" alt="">
                                                            <div class="card-img-actions-overlay card-img">
                                                                <a href="@resim" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round legitRipple" data-popup="lightbox" rel="group">
                                                                    <i class="icon-plus3"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <fieldset>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.GozRengi" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.GozRengi.ToDisplay()" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.SacRengi" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.SacRengi.ToDisplay()" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.TenRengi" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.TenRengi.ToDisplay()" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.UstBeden" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.UstBeden" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.AltBeden" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <input value="@oyuncu.AltBeden" readonly class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.YabanciDil" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <textarea rows="3" readonly class="form-control">@oyuncu.YabanciDil</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.Yetenekleri" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <textarea rows="3" readonly class="form-control">@oyuncu.Yetenekleri</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label asp-for="@oyuncu.Tecrubeler" class="col-md-3 col-form-label"></label>
                                                        <div class="col-md-9">
                                                            <textarea rows="3" readonly class=" form-control">@oyuncu.Tecrubeler</textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        function OyuncuSec(projeGuid, karakterId, oyuncuId) {
            var btn = document.getElementById("btn_" + karakterId + "_" + oyuncuId);
            var durum = 1;
            if (btn.innerText == "SEÇ") {
                durum = 2;
            }
            $.ajax
                ({
                    //url :veri istenilen php dosyasının adresi
                    url: '/Projeler/OyuncuSec/',
                    type: "Post",
                    data: { projeGuid: projeGuid, karakterId: karakterId, oyuncuId: oyuncuId, durum: durum },
                    success: function (donen_veri) {
                        var btn = document.getElementById("btn_" + karakterId + "_" + oyuncuId);
                        if (donen_veri == "OK") {

                            if (durum == 1) {
                                btn.innerText = "SEÇ";
                                btn.classList.remove("btn-danger");
                                btn.classList.add("btn-primary");
                            }
                            else {

                                btn.innerText = "ÇIKAR";
                                btn.classList.remove("btn-primary");
                                btn.classList.add("btn-danger");

                            }


                        }
                        else {
                            alert(donen_veri);
                        }
                    }
                });
        }
    </script>

</body>
</html>
