@model CastAjansCore.Dto.ProjeEditDto
@using CastAjansCore.Entity
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="@Model.Proje.Id" />
    <input type="hidden" asp-for="@Model.Proje.MusteriId" />
    <input type="hidden" asp-for="@Model.Proje.EkleyenId" />
    <input type="hidden" asp-for="@Model.Proje.EklemeZamani" />
    <input type="hidden" asp-for="@Model.Proje.GuncelleyenId" />
    <input type="hidden" asp-for="@Model.Proje.GuncellemeZamani" />
    <input type="hidden" asp-for="@Model.Proje.Aktif" />
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-truck mr-2"></i> Bilgiler</legend>

                        <div class="form-group row">
                            <label asp-for="Proje.Adi" class="col-lg-3 col-form-label"></label>
                            <span asp-validation-for="Proje.Adi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Proje.Adi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Proje.MusteriId" class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input value=@Model.Proje.Musteri.Adi readonly class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Proje.IsiTakipEdenId" class="col-lg-3 control-label"></label>
                            <span asp-validation-for="Proje.IsiTakipEdenId" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Proje.IsiTakipEdenId" asp-items="Model.Kullanicilar" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label">Proje Tarihi</label>
                            <span asp-validation-for="Proje.TarihBas" class="text-danger"></span>
                            <span asp-validation-for="Proje.TarihBit" class="text-danger"></span>
                            <div class="col-lg-4">
                                <input asp-for="Proje.TarihBas" class="form-control" />
                            </div>
                            <div class="col-lg-1">-</div>
                            <div class="col-lg-4">
                                <input asp-for="Proje.TarihBit" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-truck mr-2"></i> Bilgiler</legend>

                        <div class="form-group row">
                            <label asp-for="Proje.IsTipi" class="col-lg-3 control-label"></label>
                            <span asp-validation-for="Proje.IsTipi" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Proje.IsTipi" asp-items="Html.GetEnumSelectList<EnuIsTipi>()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Proje.Mecra" class="col-lg-3 control-label"></label>
                            <span asp-validation-for="Proje.Mecra" class="text-danger"></span>
                            <div class="col-lg-9">
                                <select asp-for="Proje.Mecra" asp-items="Html.GetEnumSelectList<EnuMecra>()" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Proje.Aciklama" class="col-lg-3 control-label"></label>
                            <span asp-validation-for="Proje.Aciklama" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Proje.Aciklama" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Proje.TeklifAciklama" class="col-lg-3 control-label"></label>
                            <span asp-validation-for="Proje.TeklifAciklama" class="text-danger"></span>
                            <div class="col-lg-9">
                                <input asp-for="Proje.TeklifAciklama" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

    <div id="divProjeKarakterleri" class="row">

        @for (int i = 0; i < Model.Proje.ProjeKarakterleri.Count; i++)
        {
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Proje Karakterleri</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" href=@("javascript:ShowOyuncu('tblProjeKarakterOyuncu_" + i + "');")><i class="icon-plus3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            @*<legend class="font-weight-semibold">
                                    <i class="icon-truck mr-2"></i> Proje Karakterleri
                                </legend>*@

                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].Id" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeId" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].EkleyenId" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].EklemeZamani" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].GuncelleyenId" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].GuncellemeZamani" />
                            <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].Aktif" />

                            <div class="form-group row">
                                <label asp-for="@Model.Proje.ProjeKarakterleri[i].Adi" class="col-lg-3 control-label"></label>
                                <span asp-validation-for="@Model.Proje.ProjeKarakterleri[i].Adi" class="text-danger"></span>
                                <div class="col-lg-9">
                                    <input asp-for="@Model.Proje.ProjeKarakterleri[i].Adi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Proje.ProjeKarakterleri[i].KarakterSayisi" class="col-lg-3 control-label"></label>
                                <span asp-validation-for="@Model.Proje.ProjeKarakterleri[i].KarakterSayisi" class="text-danger"></span>
                                <div class="col-lg-9">
                                    <input asp-for="@Model.Proje.ProjeKarakterleri[i].KarakterSayisi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="@Model.Proje.ProjeKarakterleri[i].Aciklama" class="col-lg-3 control-label"></label>
                                <span asp-validation-for="@Model.Proje.ProjeKarakterleri[i].Aciklama" class="text-danger"></span>
                                <div class="col-lg-9">
                                    <input asp-for="@Model.Proje.ProjeKarakterleri[i].Aciklama" class="form-control" />
                                </div>
                            </div>
                            <div>
                                <table class="table" id=@("tblProjeKarakterOyuncu_" + i)>
                                    <tr>
                                        <th></th>
                                        <th>Ad</th>
                                        <th>Soyad</th>
                                        <th></th>
                                    </tr>
                                    @for (int j = 0; j < Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari.Count; j++)
                                    {
                                        <tr>
                                            <td>
                                                <img width="50px" src="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].Oyuncu.Kisi.ProfilFotoUrl" />
                                            </td>
                                            <td>@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].Oyuncu.Kisi.Adi</td>
                                            <td>@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].Oyuncu.Kisi.Soyadi</td>
                                            <td>@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].KarakterDurumu</td>
                                            <td>
                                                <button class="btn btn-danger" onclick="ProjeKarakterOyunculariSil(i, j);">Sil</button>
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].ProjeKarakterId" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].OyuncuId" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].Id" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].EkleyenId" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].EklemeZamani" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].GuncelleyenId" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].GuncellemeZamani" />
                                                <input type="hidden" asp-for="@Model.Proje.ProjeKarakterleri[i].ProjeKarakterOyunculari[j].Aktif" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </fieldset>
                    </div>

                </div>
            </div>

        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" onclick="NewProjeKarakterleri();" class="btn btn-primary form-control">Yeni Karakter Ekle<i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
    <button type="button" class="btn btn-light legitRipple" data-toggle="modal" data-target="#modal_large">Launch <i class="icon-play3 ml-2"></i></button>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index" asp-route-id="@Model.Proje.MusteriId" class="btn btn-danger left">Geri</a>
            <button type="submit" class="btn btn-primary right">Kaydet <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oyuncular</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title"><i class="icon-reading mr-2"></i> Kisi Bilgileri</h5>
                                </div>
                                <div class="card-body">
                                    <fieldset class="row">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Ad Soyad</label>
                                            <div class="col-lg-9">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <input id="filter-oyuncu-adi" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="filter-oyuncu-soyadi" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Yaş</label>
                                            <div class="col-lg-9">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <input id="Filter-Oyuncu-Yas-Min" placeholder="Min" type="number" min="0" class="form-control" />
                                                    </div>
                                                    <div class="col">
                                                        <input id="Filter-Oyuncu-Yas-Maks" placeholder="Maks" type="number" max="200" class="form-control" />
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Cinsiyet</label>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <select id="filter-oyuncu-cinsiyet" asp-items="Html.GetEnumSelectList<EnuCinsiyet>()" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Uyruk</label>
                                            <div class="col-lg-9">
                                                <div class="form-group">
                                                    <select id="filter-oyuncu-uyruk" asp-items="Model.Uyruklar" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header header-elements-inline">
                                    <h5 class="card-title"><i class="icon-reading mr-2"></i> Fiziki Bilgiler</h5>
                                </div>
                                <div class="card-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Boy</label>
                                                    <div class="col-lg-9">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-Boy-Min" placeholder="Min" type="number" min="30" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-Boy-Maks" placeholder="Maks" type="number" max="300" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Kilo</label>
                                                    <div class="col-lg-9">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-Kilo-Min" placeholder="Min" type="number" min="1" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-Kilo-Maks" placeholder="Maks" type="number" max="50000" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Alt Beden</label>
                                                    <div class="col-lg-9">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-AltBeden-Min" placeholder="Min" type="number" min="1" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-AltBeden-Maks" placeholder="Maks" type="number" max="50000" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Üst Beden</label>
                                                    <div class="col-lg-9">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-UstBeden-Min" placeholder="Min" type="number" min="1" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-UstBeden-Maks" placeholder="Maks" type="number" max="50000" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Ayak No</label>
                                                    <div class="col-lg-9">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-AyakNumarasi-Min" placeholder="Min" type="number" min="1" class="form-control" />
                                                            </div>
                                                            <div class="col">
                                                                <input id="Filter-Oyuncu-AyakNumarasi-Maks" placeholder="Maks" type="number" max="50000" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Göz Rengi</label>
                                                    <span asp-for="Oyuncu.GozRengi" class="text-danger"></span>
                                                    <div class="col-lg-9">
                                                        <select id="filter-oyuncu-GozRengi" asp-items="Html.GetEnumSelectList<EnuGozRengi>()" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Ten Rengi</label>
                                                    <span asp-for="Oyuncu.TenRengi" class="text-danger"></span>
                                                    <div class="col-lg-9">
                                                        <select id="filter-oyuncu-TenRengi" asp-items="Html.GetEnumSelectList<EnuTenRengi>()" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label">Saç Rengi</label>
                                                    <div class="col-lg-9">
                                                        <select id="filter-oyuncu-SacRengi" asp-items="Html.GetEnumSelectList<EnuSacRengi>()" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="button" class="btn bg-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /full width modal -->
    @section scripts {

        <script>

            var _tblProjeKarakterOyuncu = "tblProjeKarakterOyuncu_0";
            var _projeKarakterleriCount = @Model.Proje.ProjeKarakterleri.Count;
            function NewProjeKarakterleri() {
                var str = "";
                str += "<div class='col-md-12'>";
                str += "    <div class='card'>";
                str += "        <div class='card-body'>";
                str += "            <fieldset>";
                str += "                <input type='hidden' id='Proje_ProjeKarakterleri_" + _projeKarakterleriCount + "__ProjeId' name='Proje.ProjeKarakterleri[" + _projeKarakterleriCount + "].ProjeId' Value='0' />";
                str += "                <div class='form-group row'>";
                str += "                      <label class='col-lg-3 control-label'>Karakter Adı</label>";
                @*str +=                 "      <span asp-validation-for='@Model.ProjeKarakterleri[i].Adi' class='text-danger'></span>";*@
                str += "                      <div class='col-lg-9'>";
                str += "                          <input id='Proje_ProjeKarakterleri_" + _projeKarakterleriCount + "__Adi' name='Proje.ProjeKarakterleri[" + _projeKarakterleriCount + "].Adi' class='form-control' />";
                str += "                      </div>";
                str += "                </div>";
                str += "                <div class='form-group row'>";
                str += "                      <label class='col-lg-3 control-label'>Karakter Sayısı</label>";
                @*str +=                 "      <span asp-validation-for='@Model.ProjeKarakterleri[i].KarakterSayisi' class='text-danger'></span>";*@
                str += "                      <div class='col-lg-9'>";
                str += "                          <input id='Proje_ProjeKarakterleri_" + _projeKarakterleriCount + "__KarakterSayisi' name='Proje.ProjeKarakterleri[" + _projeKarakterleriCount + "].KarakterSayisi' class='form-control' />";
                str += "                      </div>";
                str += "                </div>";
                str += "                <div class='form-group row'>";
                str += "                      <label class='col-lg-3 control-label'>Açıklama</label>";
                @*str +=                 "      <span asp-validation-for='@Model.ProjeKarakterleri[i].Aciklama' class='text-danger'></span>";*@
                str += "                      <div class='col-lg-9'>";
                str += "                          <input id='Proje_ProjeKarakterleri_" + _projeKarakterleriCount + "__Aciklama' name='Proje.ProjeKarakterleri[" + _projeKarakterleriCount + "].Aciklama' class='form-control' />";
                str += "                      </div>";
                str += "                </div>";
                str += "            </fieldset>";
                str += "        </div>";
                str += "    </div>";
                str += "</div>";

                $("#divProjeKarakterleri").append(str);
                _projeKarakterleriCount+=1;
            }

            function ShowOyuncu(tableName) {
                _tblProjeKarakterOyuncu = tableName;
                $('#myModal').modal('show');

            }
        </script>
    }
</form>
