@model CastAjansCore.Dto.ProjeListDto
@using Calbay.Core.Helper
@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Basic table -->
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"></h5>
        <div class="header-elements">
            <div class="list-icons">
                @if (Model.Musteri != null)
                {
                    <a class="list-icons-item" asp-action="Edit" asp-route-musteriId="@Model.Musteri.Id"><i class="icon-plus3"></i></a>
                }
            </div>
        </div>
    </div>
    @*<div class="card-body">

        </div>*@
    <div class="table-responsive table-scrollable">
        <table class="table">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Proje Tarihi</th>
                    <th>İş Tipi</th>
                    <th>Mecra</th>
                    <th>İşlem</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projeler)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adi)
                        </td>
                        <td>
                            @(item.TarihBas.ToShortDateString() + " - " + item.TarihBas.ToShortDateString())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsTipi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mecra)
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.GuidId" class="btn btn-sm btn-outline-warning"><i class="icon-eye"></i></a>
                            <a asp-action="CastList" asp-route-id="@item.GuidId" class="btn btn-sm btn-outline-info"><i class="icon-list"></i></a>
                            <a asp-action="ExcelList" asp-route-id="@item.GuidId" class="btn btn-sm btn-outline-success"><i class="icon-file-excel"></i></a>
                        </td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="icon-pencil3"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"><i class="note-icon-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /basic table -->
